* {
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
   body{ 
    background-color:black;
    color:#dbdfd5;
  }
  .nav{
      background-color: black;
  }
  .header {
    border: 1px solid red;
    padding-top: 20px;
    font-size:1rem;
    background-color: #d85b3d;
  }
  .article{
    display: inline-block;
    float: left;
    width: 300px;
    padding: 0.5rem;
    background-color:black;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
    padding-bottom: 120px;
  }
  .article__title2,.article__title3,.article__title4{
    display:flex;
    flex-direction: row;
    align-items: (flex-end,flex-start);
    justify-content: space-between;
  }

  .contentbox{
      box-sizing:content-box;
      width:100%
  }
  a{
    color: #dbdfd5;
    left:50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mainContainer{
    background-color:black;
  }
  .bottombox{
     position: fixed;
     margin-top: 300px;
  }
  .pictureContainer{
    height: 50%;
	top: 15.5%;
	position: relative;
    width: 20%;
    left: 40.5%;
    margin-left: -12.5%;
    z-index: 1;
    border: 1px solid black;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
  .logoContainer{
	position: absolute;
    width: 300%;
    z-index: 2;
  }
  .main__title{
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #d85b3d;
  }
  .header__title{
    text-align: right;
  }
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 20px;
}
.button{
    background-color:#cb3724;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 12px;
    border: 2px solid red;
    transition-duration: 0.4s;
}
.button:hover {
    background-color:red;
    color:white;
  }
  .bottombox{
      background-color: #dbdfd5;
  }
.bottom{
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
}
.bottom1{
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px;
}
.bottom2{
    position: absolute;
    left: 30%;
    top: 206%;
}
.bottom3{
position: absolute;
left: 60%; 
top: 206%;
}

.main__articles{
    background-color: #d85b3d ;
}
section{
    border-width: 5px;
}
.nav__links{
padding-left:1200px ;
border-color: cyan;
}
